{% extends '_base.html' %}
{% load static %}
{% block title %}home{% endblock title %}
{% block content %}
<!-- Hero Section -->
<section id="hero" class="hero">
    <img src="{% static 'assets/img/hero-bg.jpg' %}" alt="">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <h2>PowerPlus to build your ideal body<span>.</span></h2>
                <p>We are a team of talented digital marketers</p>
            </div>
        </div>
        <div class="row gy-4 mt-5 justify-content-center">
            <div class="col-xl-2 col-md-4">
                <div class="icon-box">        
            <i class="bi">
                <svg width="60" height="60" fill="currentColor">
                    <image href="{% static 'assets/icons/food.ico' %}" width="60" height="60"/>
                </svg>
            </i>
                    <h3><a href="">Meal plan</a></h3>
                </div>
            </div>
            <div class="col-xl-2 col-md-4">
                <div class="icon-box">
            <i class="bi">
                <svg width="70" height="70" fill="currentColor">
                    <image href="{% static 'assets/icons/Dumbbell.ico' %}" width="70" height="70"/>
                </svg>
            </i>
                    <h3><a href="">Workout plan</a></h3>
                </div>
            </div>
            <div class="col-xl-2 col-md-4">
                <div class="icon-box">
            <i class="bi">
                <svg width="85" height="85" fill="currentColor">
                    <image href="{% static 'assets/icons/gym.ico' %}" width="85" height="85"/>
                </svg>
            </i>
                    <h3><a href="">Muscle training</a></h3>
                </div>
            </div>
            <div class="col-xl-2 col-md-4">
                <div class="icon-box">
            <i class="bi">
                <svg width="50" height="50" fill="currentColor">
                    <image href="{% static 'assets/icons/newspaper.ico' %}" width="50" height="50"/>
                </svg>
            </i>
                    <h3><a href="">Articles</a></h3>
                </div>
            </div>
            <div class="col-xl-2 col-md-4">
                <div class="icon-box">
            <i class="bi">
                <svg width="50" height="50" fill="currentColor">
                    <image href="{% static 'assets/icons/calories.ico' %}" width="50" height="50"/>
                </svg>
            </i>
                    <h3><a href="">Calorie counter</a></h3>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}